<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Edit Game</h1>
    <div class="new-form-container">
      <div class="fill-in">
    <form class="new-form" action="/app/<%=game.id%>?_method=PUT" method="POST">
        Name: <input class="font" type="text" name="name" value="<%=game.name%>" /><br/>
        Console: <input class="font" type="text" name="console" value="<%=game.console%>"/><br/>
        Year: <input class="font" type="text" name="year" value="<%=game.year%>"/><br/>
        Image URL: <input class="font" type="text" name="img" value="<%=game.img%>"><br />
        Notes: <textarea class="font" name="notes" rows="8" cols="80"><%=game.notes%></textarea><br/>
      </div>
      <div class="check-out">
        <h3 class="check-out1">Genres</h3>

        <!-- Checkbox for Action -->
        <label>
          <input class="edit-genre" type="checkbox" name="action"
          <% if (game.action === true) { %>
            checked
          <% } %> />
          <span class="white-text">Action</span>
        </label>
        <br/>
        <!-- Checkbox for Puzzle -->
        <label>
          <input type="checkbox" name="puzzle"
          <% if (game.puzzle === true) { %>
            checked
            <% } %>/>
            <span class="white-text">Puzzle</span>
        </label>
        <br />
        <!-- Checkbox for RPG -->
        <label>
          <input type="checkbox" name="rpg"
          <% if (game.rpg === true) { %>
          checked
          <% } %>/>
          <span class="white-text">RPG</span>
        </label>
        <br />
        <!-- Checkbox for Sports -->
        <label>
          <input type="checkbox" name="sports"
          <% if (game.sports === true) { %>
            checked
          <% } %>/>
          <span class="white-text">Sports</span>
          <br />
        <input class="purple accent-2 post btn" type="submit" name="" value="Submit Changes">
      </div>
    </form>
  </div>
  </body>
</html>
