<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
    <nav><a href="/app/new">Add Game</a></nav>
    <form action="/sessions?_method=DELETE" method="POST">
      <input class="delete-font" type="submit" name="" value="Log Out">
    </form>
    <h1>8-Bit Backlog</h1>
  </header>
  <main>
    <div class="container">
    <div class="row">
    <% for (let i = 0; i < games.length; i++) { %>

      <div class="col">
        <div class="card">
          <div class="card-image">
            <a href="/app/<%=games[i].id%>">
              <img src="<%=games[i].img%>" alt="">
            </a>
          </div>
          <div class="card-content">
            <div class="c-text">
              <p><%=games[i].name%></p>
              <p><%=games[i].year%></p>
            </div>
          </div>
          <div class="card-action actionaction">
            <a href="/app/<%=games[i].id%>">Info</a>
            <a href="/app/<%=games[i].id%>/edit">Edit</a>
            <form action="/app/<%=games[i].id%>?_method=DELETE" method="POST">
              <input class="delete-font" type="submit" name="" value="Delete"/>
            </form>
          </div>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</main>
  <footer>
      <p>Created By Colton Kayser</p>
  </footer>
  </body>
</html>
